body {

  background-color: white;
  background-image: url(/images/blackme.jpeg);
  background-size: cover;

}

.page-container {
  display: flex;
  flex-direction: column;

}

.bottom-div {
  margin-top: auto;
  /* push the div to the bottom of the container */
}

.sugar {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.check1 {
  display: flex;
  border: 0px solid red;
  height: 60px;
  justify-content: space-between;
  padding: 5px;
}




.mylogo {

  background-image: url(/images/default-removebg-preview.png);
  background-size: cover;
  background-position: center center;
  border: 0px solid blue;
  width: 80px;
  order: 1;
  display: flex;
  justify-content: end;

}


.check2 {
  display: flex;
  flex-direction: column;
  border: 0px solid red;
  /* min-height: 80vh; */
  padding: 10px;


}

.fav {
  display: flex;
  justify-content: space-between;
  border: 0px solid yellow;
  color: white;
}

.boxy {
  display: flex;
  gap: 5px;
  height: 100px;
  border: 0px solid blue;
  margin-bottom: 5px;
}

.boxy > a {
  flex: 1; /* Equal width for all columns */
  border: 0px solid rgba(150, 147, 147, 0.942);
  text-decoration: none;
  background-color: rgba(66, 64, 64, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}


.dof {
  color: white;
  font-size: 12px;
  text-align: center;
}

.tap {
  display: flex;
  flex-direction: column;
  border: 0px solid blue;

}

.flake {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  height: 40%;
}

.flake2 {
  color: white;
  font-size: 14px;
  border: 0px solid yellow;
  height: 60%;
  background-color: rgba(44, 42, 42, 0.922);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.feat {
  height: 5vh;
  border: 0px solid green;
  display: flex;
  justify-content: space-between;
}

.whit {
  color: white;
}

.mor {
  text-decoration: none;
}

.advert {
  height: 27vh;
  border: 0px solid blue;
  /* background-image: url(/images/payment_options.webp); */

  border-radius: 10px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: calc(100% * 11);
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-position: center center;
}

.index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
}








.topw2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid green;

  color: white;
  order: 0;


}









.section3 {
  height: 60px;
  border: 0px solid red;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(26, 25, 25, 0.898);



}

.section3>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.icons {
  font-size: 20px;
}

.texter {
  font-size: 14px;
}

.rep {
  color: rgba(0, 132, 255, 0.757) !important;
}


/* Smartphones (portrait and landscape)(small) */
@media screen and (max-width: 767px) {
  /* Styles for small screens */



}

/* Tablets (medium) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for medium screens */
 
}

/* Desktops, big landscape tablets, and laptops (Large, Extra large) */
@media screen and (min-width: 1024px) {
  /* Styles for large screens */
  .sugar {
  
    padding-bottom: 10px;
  }
 .advert{display: none;}
}






