*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    background-image: url(/images/blackme.jpeg);
    background-size: cover;
  } 
  
  
  .page-container {
    display: flex;
    flex-direction: column;
    height: 55rem;
  }
  
  
  
  .check1{
    display: flex;
   flex-direction: column;
  
    border-bottom: 3px solid white;
    height: 70px;
    background-color: rgb(49, 46, 46);
   color: white;
   z-index: 4;
   margin: 0;
   /* padding-right: 15rem; */
  }
  .check19{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0px solid white;
  
    background-color: rgb(49, 46, 46);
   color: white;
   height: 70%;
  }
  .icc{
    font-size: 20px;
    border: 0px solid red;
    padding-left: 20px;
    width: 23.3%;
  }
  .prof{
    display: flex;
    justify-content: center;
    border: 0px solid red;
    font-size: 20px;
    width: 56.3%;
  }
  
  .al{
    width: 20.3%;
  }
  .check20{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-size: 14px;
  }
  .sticky {
    position: sticky;
    top: 0;
  }
  
.acct{
    margin: 20px 20px -10px;
    padding: 20px;
    background-color:  rgba(78, 76, 76, 0.784);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.prem1{
    font-size: 21px;
    font-weight: bold;
}
.prem{
    font-size: 11px;
}
.acct1{
    margin: 20px 20px -10px;
    padding: 20px 0px;
    background-color:  transparent;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

progress {
    width: 100%; /* set the width of the progress bar */
    height: 20px; /* set the height of the progress bar */
  }
  
  progress::-webkit-progress-bar {
    background-color: #eee; /* set the background color of the progress bar */
    border-radius: 5px; /* add border radius to the progress bar */
  }
  
  progress::-webkit-progress-value {
    background-color: #0077FF; /* set the color of the progress bar fill */
    border-radius: 5px; /* add border radius to the progress bar fill */
   
  }
.dai{
    font-size: 12px;
    color: rgb(198, 191, 191);
}
.mon{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(67, 125, 241, 0.989);
}

.fre{
  display:flex;
  justify-content: space-between;
  color:white;
  padding: 0px 20px;
  font-size: 12px;
}
.fben{
  color: rgba(67, 125, 241, 0.989);
}
.ggg{
  display: flex;
  gap: 10px;
  margin: 20px 20px -10px;
}
.acct11{
  width: 90px;

 
  padding: 20px;
  background-color:  rgba(78, 76, 76, 0.784);
  color: white;
  border-radius: 2px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.myd{
  background-color: rgba(0, 132, 255, 0.256);
  border: 0px solid rgb(52, 58, 145);
  padding: 4px;
  border-radius: 50%;
  color:rgba(0, 132, 255, 0.757)
}
.jd{

  font-size: 10px;
}
  .check2{
  border: 0px solid red;
  padding-bottom: 30px;
  }


  .center{
    display: flex;
    flex-direction: column;
    justify-items: center;
  border: 0px solid black;
  margin: auto auto;
  padding: 20px;


   box-sizing: border-box;
  }

  .byes{
    display: block;
   font-size: 16px;
   border: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 30px 14px 30px;

    background-color: #f16c25f0;
   color: white;
   border-radius: 10px;
  
   
  }
 

  

  @media screen and (max-width: 320px) {

   
  }
 
  
  
  
  
  
  label {
    display: block;
    font-family: inherit;
    font-size: 14px;
   
  
  
    width: 100%;

   
    margin-bottom: 13px;
     color: white;  
  }
    input[type="text"],input[type="email"],input[type="password"]{
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
   padding: 10px;
   line-height: 58px;
    height: 40px;
 
    border-radius: 5px; 
    border: 1px solid gray;
     background-color: rgba(78, 76, 76, 0.784);
     color: white!important;
  }
  

input,
input::placeholder {
font-size: 16px;
color: white;
 
}
input:hover{
outline: none;
border-color:  #0059b3;
}
input:focus{
outline: none;
border-color:  #0059b3;
background-color: rgba(78, 76, 76, 0.784)!important;
}
  .limi{
    font-size: 14px;
    color: rgb(160, 155, 155);
  }
  .limi1{
    color: rgba(67, 125, 241, 0.989);
  }
  body{
    position: relative;
    
  } 
  
  .section3{
    height: 60px;
    border: 0px solid red; 
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(26, 25, 25, 1);
    
    z-index: 4;
   
  }
  
  .section3 > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  }
  
  .icons{
    font-size: 20px;
  }
  .texter{
    font-size: 14px;  
  }
  .rep{
    color:rgba(0, 132, 255, 0.757)!important;
  }
    /*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
  @media screen and (min-width: 1024px){
  /*Style*/
  .center
      {
        width: 80%;
      }
  
  
  
  }
  
  /*###Tablet(medium)###*/
  @media screen and (min-width : 768px) and (max-width : 1023px){
  /*Style*/
  .center
      {
        width: 100%;
      }
  }
  
  /*### Smartphones (portrait and landscape)(small)### */
  @media screen and (min-width : 0px) and (max-width : 767px){
  /*Style*/
  .center
      {
        width: 100%;
      }
  } 
  
  
  
  .sele{
    height: 55px;
     background-color: #77757578;
     color: white;
    padding: 8px;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5"%3e%3cpath d="M0 0l4 4 4-4z" fill="%23ccc"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
  }

  select::-ms-expand,
  select::-webkit-outer-spin-button {
    display: none;
  }

  select option:before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #ccc;
  }
  
  
  
  