body {

    background-color: white;
    background-image: url(/images/blackme.jpeg);
    background-size: cover;
    
  } 
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 150vh; /* ensure the container takes up at least the full viewport height */
    justify-content: space-between;
  }
  .bottom-div {
    margin-top: auto; /* push the div to the bottom of the container */
  }
  .sugar{
    display: flex;
    flex-direction: column;
  }
  
  .check1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid red;
    height: 40vh;
    /* background-color: black; */
    background-color: rgb(6, 5, 5, 1);
   color: white;
   gap: 2%;
   z-index: 4;
  
   
   
  }
  .sticky {
    position: sticky;
    top: 0;
  }
 
  .prof{
    display: flex;
    align-items: center;
    border: 0px solid red;
    height: 8%;
  }
  .wrapme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66%;
    border: 0px solid green;
   
    
  }
  .mylogo{
  
    width: 40%;
    height: 100%;
    
    
 
    background-image: url(/images/profile-icon-white-22.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px solid red;
    

   
    
}
.myname{
    display: flex;
    align-items: center;
    height: 10%;
    border: 0px solid yellow; 
}
.detail{
    display: flex;
    align-items: center;
    height: 6%;
    border: 0px solid green;  
    cursor: pointer;
}

.check2{
    display: flex;
    flex-direction: column;
    border: 0px solid blue;
    height: 80vh;
    padding: 10px;
    color: white;
    background-color: rgb(53, 53, 53);
    margin-bottom: 1.5rem;
    z-index: 2;

  }
  .heady{
    margin-bottom: 10px;
  }
  .splitter{
    display: flex;
    height: 14%;
    
  }
  .fme{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 10px;
   border: 0px solid blue;
   background-color: rgb(41, 40, 40);
   font-size: 2rem;
   color: rgba(0, 255, 217, 0.678);
  }
  .sme{
    display: flex;
    align-items: center;
    width: 60%;
    border: 0px solid green;
    padding-left: 1rem;
  }
  .tme{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 0px solid green;
    /* font-size: 2rem; */
  
    
    
  }

  .defir{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid yellow;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    background-color: rgb(41, 40, 40);
    
  }
  .checkme{
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    height: 13vh;
    padding: 10px;
    color: white;
    background-color: rgb(53, 53, 53);
    
    z-index: 2;
  }
  .splitters{
    display: flex;
    height: 100%;
    
  }
  .fmes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 10px;
   border: 0px solid blue;
   background-color: rgba(84, 58, 58, 0.448);
   font-size: 2rem;
   color: red;
  }
  .smes{
    display: flex;
    align-items: center;
    width: 60%;
    border: 0px solid green;
    padding-left: 1rem;
    color: red;
    font-size: 1.2rem;
  }

  .fav{
    display: flex;
   
    justify-content: space-between;
    height: 5vh;
    border: 0px solid yellow;
    color: white;
  }
  .boxy{
    display: flex;
    gap: 5px;
    height: 12vh;
    border: 0px solid blue;
    margin-bottom: 5px;
  }
  .boxy > a {
    height: 100%;
    width: 25%;
    border: 0px solid rgba(150, 147, 147, 0.942);
    text-decoration: none;
    background-color: rgba(66, 64, 64, 0.85);
    display: flex;
    flex-direction: column;
    align-items:  center;
 justify-content: center;
  }
  .dof{
    color: white;
    font-size: 12px;
    text-align: center;
  }
  .tap{
    display: flex;
    flex-direction: column;
 
    height: 8vh;
    border: 0px solid blue;
    
  }
  .flake{
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    height: 40%;
  }
  .flake2{
    color: white;
    font-size: 14px;
    border: 0px solid yellow;
    height: 60%;
    background-color: rgba(44, 42, 42, 0.922);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .feat{
    height: 5vh;
    border: 0px solid green;
    display: flex;
    justify-content: space-between;
  }
  .whit{
    color: white;
  }
  .mor{
    text-decoration: none;
  }
  .advert{
    height: 27vh;
    border: 0px solid blue;
    /* background-image: url(/images/payment_options.webp); */
    
    border-radius: 10px;
  }
  .carousel {
    position: relative;
    overflow: hidden;
  }
  .slides {
    display: flex;
    width: calc(100% * 11);
    transition: transform 0.5s ease-in-out;
  }
  .slides img {
    width: 100%;
    height: 27vh;
    background-size: cover;
  }
  .index {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 14px;
  }







  .cke{
    font-size: 16px;
  }
.topw2{
  display: flex;
  border: 0px solid green;
  align-items: center;
  width: 60%;
  height: 100%;
  color: white;
  order: 0;
  padding: 5px;

}
.bell{
    width: 30%;  
    color: white;
    font-size: 24px; 
}
.etopw2{
  display: flex;
  border: 0px solid green;
  align-items: center;
  width: 70%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.flags{
  border: 0px solid green;
 height: 50%;
  width: 60%;
  background-image: url(/images/nigeria-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
  }
  .dropme{
      border: 0px solid red;
      height: 50%;
      width: 40%;
       color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px; 
  }
  body{
    position: relative;
    
  } 
  #hiders{
    display: none;
 
  } 
  .hide{
    display: none;
  }
  #brownmenu{
    position: fixed;
    top:  50%;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    z-index: 999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    
   
     }
     .clro{
      color: white;
     }
     .bvn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 15%;
      border: 0px solid blue;
     }
     .writeme{
    
      color: white;
      font-size: 18px;
     }
     .blueme{
    
      color: rgb(79, 79, 244);
      font-size: 16px;
     }

     .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* transparent black */
      display: none; /* initially hidden */
      z-index: 999; /* put it on top of everything else */
    }


   .emer{
    height: 6%;
   }
  .itm1{
    display: flex;
    align-items: center;
    height: 3%;
border: 0px solid red;
color: white;
font-size: 13px;
  }
.itm2, .itm3, .itm4{
  display: flex;
  gap: 10px;
  height: 19%;
  border: 0px solid blue; 
  }
  .itm2 > a,
.itm3 > a,
.itm4 > a {
  width: 33.3%;
  border: 0px solid rgba(150, 147, 147, 0.942);
  text-decoration: none;
  background-color: rgb(30, 28, 28);
 
}

.blk1{
 display: flex;
 flex-direction: column;
 align-items:  center;
 justify-content: center;
 gap: 10px;
 border: 0px solid red;
}
.iflag1{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/nigeria-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag2{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/kenya-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag3{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/zambia-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag4{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/south-africa-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag5{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/guinea-flag-png-xl.png);
  background-size: cover;
  background-position: center center; 
}
.iflag6{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/cameroon-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag7{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/mozambique.png);
  background-size: cover;
  background-position: center center; 
}
.iflag8{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/sierra-leone-flag-png-large.png);
  background-size: cover;
  background-position: center center; 
}
.iflag9{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/rwanda.png);
  background-size: cover;
  background-position: center center; 
}
.iflag10{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-image: url(/images/english.png);
  background-size: cover;
  background-position: center center; 
}
.itext{
  color: white;
}
  .itm5{
    display: flex;
    align-items: center;
    height: 3%;
border: 0px solid red;
color: white;
font-size: 13px;
  }
  .itm6{
    display: flex;
    gap: 10px;
    height: 19%;
    border: 0px solid blue; 
  }
  .itm6 > a {
    width: 33.3%;
    border: 0px solid rgba(150, 147, 147, 0.942);
   
  }
  .itm7{
    display: flex;
  padding: 6px 6px 6px 6px;
    height: 12%;
   
    border: 0px solid yellow;
  }


  .omenu{
  height: 85%;
  border: 0px solid blue;
 }
  
  
  .mycounhead{
    color: white;
    font-size: 14px;
  }

.fordme{
  display: flex;
height: 25%;
width: 100%;
border: 0px solid red;
}

.fordme > a{
  height: 31.5%;
  width: 31.5%;
  border: 0px solid blue;

}


  .cmenu{
  display: flex;
  height: 15%;
  width: 100%;
  border: 0px solid yellow;
  
  }
  
  
  
  .center {
      display: flex;
      flex-direction: column;
      border: 0px solid red;
    /* margin: auto; */
    min-height: 40vh;
    padding: 10px;
  box-sizing: border-box;
  }
    
   
        
         .byes{
          display: block;
         font-size: 16px;
         border: 0px;
          box-sizing: border-box;
          width: 100%;
          padding: 14px 30px 14px 30px;
      
          background-color: #f16c25f0;
         color: white;
         border-radius: 10px;
        
         
        }
       
        
       
     
  
  .section3{
    height: 12vh;
    border: 0px solid red; 
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(26, 25, 25, 1);
    
    z-index: 4;
   
}

.section3 > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.icons{
    font-size: 20px;
}
.texter{
    font-size: 14px;  
}
.rep{
    color:rgba(0, 132, 255, 0.757)!important;
}
    /*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
  @media screen and (min-width: 1024px){
  /*Style*/
  .center
      {
        width: 80%;
      }
  
  
  
  }
  
  /*###Tablet(medium)###*/
  @media screen and (min-width : 768px) and (max-width : 1023px){
  /*Style*/
  .center
      {
        width: 100%;
      }
  }
  
  /*### Smartphones (portrait and landscape)(small)### */
  @media screen and (min-width : 0px) and (max-width : 767px){
  /*Style*/
  .center
      {
        width: 100%;
      }
  } 
  
  .textcolor{
      color: black;
  }
  .downme{
       margin-bottom: 4px;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 12px;
    font-size: 13px;
    cursor: pointer;
  }
  
  
 
  

  
 
  
  .prome{
      text-align: center;
      font-size: 14px;
      color: white;
    
  }
  .welc{
    color: rgba(255, 255, 255, 0.594);
  }
  .paddme{
      padding: 38px 12px 14px 12px;
      height: 50px;
  }
  .labme{
     font-size: 16px;
  }
  
  .paddmes{
      padding: 38px 12px 14px 12px !important;
      height: 50px;
  }
  .fogme{
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      text-align: right;
  }
  .linkers{
    text-decoration: none;
  }
  .centme{
    text-align: center;
    margin-top: 10px;
  }
  

  